/*********************
* Color
*********************/
.bg-color--keycolor {
  background-color: #e07272;
}
.bg-color--subcolor {
  background-color: #f39417;
}
.bg-color--gray {
  background-color: #e6e6e6;
}
